<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}BrewRate{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'beers/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">


    <div class="container-fluid">
        <!-- header -->
        <div class="navbar-header"> <!--navbar header and toggle -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'beers:main' %}">BrewRate</a>
        </div>

        <!--navbar items -->
        <div class="collapse navbar-collapse" id="topNavBar"> <!-- these items get collapsed in topNavBar -->
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'beers:user_detail' %}">
                            <span class="glyphicon glyphicon-grain"></span>&nbsp;
                            Your Profile
                        </a>
                    </li>
                {% endif %}
                <li class="">
                    <a href="{% url 'beers:beers' %}">
                        <span class="glyphicon glyphicon-grain"></span>&nbsp;
                        Beers
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'beers:breweries' %}">
                        <span class="glyphicon glyphicon-grain"></span>&nbsp;
                        Breweries
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'beers:beers_search' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search Beers</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'beers:add_brewery' %}">          <!-- change url back -->
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;
                        &nbsp; Add Brewery
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'beers:add_beer' %}">          <!-- change url back -->
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;
                        &nbsp; Add Beer
                    </a>
                </li>
                <li class="">
                    {% if user.is_authenticated %}
                        <a href="{% url 'beers:logout' %}">
                            <span class="glyphicon glyphicon-off"></span>&nbsp;
                            Logout
                        </a>
                    {% else %}
                        <a href="{% url 'beers:login' %}">
                            <span class="glyphicon glyphicon-off"></span>&nbsp;
                            Login
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content_1 %}
{% endblock %}

{% block content_2 %}
{% endblock %}

{% block content_3 %}
{% endblock %}

</body>
</html>