{% extends 'beers/base.html' %}

{% block title %}BrewRate - {{ beer.beer_name }}{% endblock %}


{% block content_1 %}
    <h1> {{ beer.beer_name }} </h1>
    <img src="{{ beer.beer_logo }}">
    <ul>
        <li>{{ beer.beer_brewery }}</li>
        <li>{{ beer.beer_style }}</li>
        <li>ABV: {{ beer.beer_abv }}</li>
        <li>SRM: {{ beer.beer_srm }}</li>
        <li>Average User Rating: {{ avg_rating }}</li>
    </ul>

    {% if brewery.brewery_photo %}
        <img src="{{ brewery.brewery_photo }}" style="width:200px;height:200px;">
    {% endif %}
{% endblock %}

{% block content_2 %}
    {% if current_rating %}
        <span>Your Rating:</span>
        {% for value in star_rating %}
            <span class="glyphicon glyphicon-star"></span>
        {% endfor %}

    {% else %}
        {% if user.is_authenticated %}
            <div>
                <form method="POST" class="post-form">{% csrf_token %} {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Send</button>
                </form>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}


{% block content_3 %}
    <h3>Other Beers In The {{ beer.beer_style }} Style: </h3>
    <ul>
        {% for beer in style_beers %}
            <li><a href="{% url 'beers:beer_detail' beer.id %}">{{ beer.beer_name }}</a>
                <!--add avg beer rating-->
                <!--add thumbnail?-->
            </li>
        {% endfor %}
    </ul>

{% endblock %}


