{% extends 'beers/base.html' %}

{% block title %}BrewRate - All Beers{% endblock %}


{% block content_1 %}
    <h1>All Added Beers</h1>
{% endblock %}

{% block content_2 %}
    <h3>Here are a few of our most recently added beers!</h3>
    <ul>
        {% for beer in all_beers %}
            <li><a href="{% url 'beers:beer_detail' beer.id %}">{{ beer.beer_name }}</a>
                <a href="{% url 'beers:brewery_detail' beer.beer_brewery_id %}">- {{ beer.beer_brewery }}</a>
                <!--add avg beer rating-->
                <!--add thumbnail?-->
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
q`
{% endblock %}


{% block content_3 %}
    <ul>
    {% for k,v in beer_ratings.items %}
        <li> {{ k }} : {{ v }} </li>
    {% endfor %}

    </ul>
{% endblock %}