{% extends 'beers/base.html' %}


{% block beer_list %}

{% block brewery_detail %}
{% endblock %}

{% block main_page_detail %}
{% endblock %}

{% if all_beers %}

    <h3>Here are all of the tracked beers:</h3>

    <ul>
        {% for beer in all_beers %}
        <li><a href="{% url 'beers:beer_detail' beer.id %}">{{ beer.beer_name }}</a>
            <!--add avg beer rating-->
            <!--add thumbnail?-->
        </li>
        {% endfor %}
    </ul>

{% else %}
    <h3>No Beers To Display!</h3>

{% endif %}

{% endblock %}