{% extends 'beers/base.html' %}

{% block body %}

        <ul>
            {% for brewery in object_list %}
            <li>
                <a href="{% url 'beers:detail' brewery.id %}">{{ brewery.brewery_name }}</a>
                <form action="{% url 'beers:brewery-delete' brewery.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="brewery_id" value="{{ brewery.id }}" />
                    <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                </form>
                <form action="{% url 'beers:brewery-update' brewery.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="brewery_id" value="{{ brewery.id }}" />
                    <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
                </form>
            </li>

            {% endfor %}
        </ul>

{% endblock %}